@import './_variables';
@import './_navigation';

body{
    background-color: #f8f9fa;
    font-weight: 500;
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}