@import './_variables';
@import './_navigation';
@import './post-masonry';
@import './masonry-post';
@import './home';


html body{
    background-color: $background;
    font-weight: 500;
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}



h1{
    font-size: 2rem;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    margin: 4em 20px;
}

.overlay::before{
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradiant(180deg, transpaent 0%, transparents 18%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100%);

}